/*----------- RESET GENERAL -----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn a {
    text-decoration: none;
    color: white;
}

.card {
    box-shadow: -10px 0 10px;
}