* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoSmartLearn {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(113, 224, 255), rgb(0, 49, 94));
    align-content: center;
    text-align: center;
    animation: desvanecido 2s 8s forwards;
}

#smartLearn {
    animation: zoomLogo 8s  ;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes zoomLogo {
    0% {
        width: 10rem;
        height: 7rem;
    }
    100% {
        width: 96rem;
        height: 64rem;
    }
}

@keyframes desvanecido {
    0% {
        opacity: 1;
        overflow: hidden;
    }
    100% {
        opacity: 0; display: none;
    }
}

.mainContet {
    display: none;
}

/*--CARDS STYLES--*/
.card {
    box-shadow: -10px 0 10px;
}
.card-number {
    font-size: 30px;
}

.card-text {
    margin-bottom: -3px;
}

.btn {
    border: none;
    background-color: rgba(101, 162, 173, 0.72);
}

.btn:hover {
    background-color: #4f9fad;
}

/*GRAPHIC CONTAINER*/
.graphic-container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 3rem;
    box-shadow: -10px 0 10px;
    border-radius: 20px;
}