* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/originals/a7/12/3a/a7123a124ba35c74c421e1678e2bb677.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    padding: 20px;
    
}

.login-card {
    /* background-color: #ffffff; */
    background: transparent;
    -webkit-backdrop-filter: blur(55px);
    backdrop-filter: blur(55px);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: -2rem;
}

.logo-img {
    width: 30vw;
}

p {
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: gainsboro;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #166fe5;
}

.error-message {
    color: #ff0000;
    margin-bottom: 10px;
    font-size: 14px;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #1877f2;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .login-card {
        padding: 20px;
    }
}