* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center
}

.ventana {
    background: linear-gradient(white,rgb(153, 153, 153));
    justify-content: center;
    width: 60vh;
    height: 80vh;
    border-radius: 20px;
    box-shadow:rgba(0, 0, 0, 0.25);
}

.header {
    width: 60vh;
    height: 20vh;
    display: flex;
    background-color: #4f9fad;
    border-radius: 20px 20px 0 0;
    margin-left: -0.6vh;
}

.img-user {
    width: 10vh;
    border-radius: 70px;
    position: relative;
    margin-top: 15vh;
}

h1 {
    font-size: 2vh;
    margin-top: -1vh;
}

.description {
    font-size: 1vh;
}

.section {
    margin-top: 13vh;
}

/*---CIRCLES---*/
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}
.circle {
    background-color: #fff;
    padding: 1rem;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}